html, body
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body > header
{
	height: 97px;
	background: url('header_bg.gif');
}

body > header img
{
	float: right;
}

body > header h1
{
	color: white;
	position: relative;
	margin: 0;
	top: 30px;
	left: 10px;
	width: 50%;
}

main
{
	padding: 10px;
}

/** TEXT **/
	h2, h3
	{
		margin: 0;
	}

	span.uri:before
	{
		content: "http://waisvm-rfp1.ecs.soton.ac.uk";
		color: #999;
	}

/** DETAILS **/
	.params:empty:before
	{
		font-style: italic;
		content: "This endpoint accepts no URI parameters";
	}

	.param .name, .prop .name
	{
		font-weight: bold;
	}

	.param .type:before, .prop .type:before
	{
		content: "<";
	}

	.param .type:after, .prop .type:after
	{
		content: ">";
	}

	.param .type, .prop .type
	{
		font-style: italic;
		color: blue;
	}

	.param .desc, .prop .desc
	{
		display: block;
		margin-left: 20px;
	}

	.prop .level:before
	{
		content: "(";
	}

	.prop .level:after
	{
		content: ")";
	}

	.prop .level
	{
		color: red;
	}

	.warn:before
	{
		content: "\26A0    Warning: ";
		color: red;
		font-weight: bold;
	}

	.param, .prop
	{
		margin: 10px;''
	}

/* METHODS */
	main > section:not(.desc):not(:empty)
	{
		border: 1px solid gray;
		background: #F1F1F1;
		margin: 10px 0;
		border-radius: 10px;
	}

	main > section h3
	{
		border-bottom: 1px solid gray;
		padding: 10px;
		background: #DDD;
		border-radius: 10px 10px 0px 0px;
	}

	main > section > section.desc
	{
		margin: 10px;
	}


/* EXAMPLES */
	section.eg
	{
		margin: 20px 10px 10px 10px;
	}

	section.eg label
	{
		background: #333;
		display: inline-block;
		border: 2px solid gray;
		border-radius: 5px 5px 0 0;
		border-bottom: 0;
		z-index: 2;
		padding: 5px;
		color: white;
		width: 50px;
		cursor: pointer;
		text-align: center;
	}

	section.eg div:not(.onlyOption):before
	{
		position: absolute;
		margin-top: -2px;
		display: block;
		background: #333;
		width: 60px;
		height: 2px;
		content: " ";
	}

	input[id$="-json"] + div:before
	{
		margin-left: 68px;
	}

	input[id$="-csv"] + div:before
	{
		margin-left: 136px;
	}

	section.eg input[type="radio"]
	{
		display: none;
	}

	section.eg input[type="radio"]:checked + div, div.onlyOption
	{
		display: block !important;
	}

	section.eg div
	{
		border: 2px solid gray;
		border-radius: 0 10px 10px 10px;
		display: none;
		background: #333;
	}

	section.eg div.onlyOption
	{
		border-radius: 10px;
	}

	section.eg div code
	{
		padding: 10px;
		white-space: pre-wrap;
		display: block;
	}

	section.eg div code.csv
	{
		color: white;
	}

	section.eg div code.req:before
	{
		content: "Request:";
		font-weight: bold;
		display: block;
	}

	section.eg div code.resp
	{
		border-top: 1px dashed gray;
	}

	section.eg div code.resp:before
	{
		content: "Response:";
		font-weight: bold;
		display: block;
	}

	span.crlf
	{
		display: inline-block;
		width: 16px;
		height: 10px;
		font-weight: bolder;
		color: black;
		background: #a2fca2;
		border-radius: 3px;
		position: relative;
		top: 8px;
		left: 5px;
	}

	span.crlf span
	{
		position: relative;
		bottom: 8px;
	}

/* Highlight.js Modified Agate Style */
	/*!
	 * Agate by Taufik Nurrohman <https://github.com/tovic>
	 * ----------------------------------------------------
	 *
	 * #ade5fc
	 * #a2fca2
	 * #c6b4f0
	 * #d36363
	 * #fcc28c
	 * #fc9b9b
	 * #ffa
	 * #fff
	 * #333
	 * #62c8f3
	 * #888
	 *
	 */

	.hljs {
	  display: block;
	  overflow-x: auto;
	  padding: .5em;
	  color: white;
	  -webkit-text-size-adjust: none;
	}

	.asciidoc .hljs-title,
	.hljs-label,
	.hljs-tag .hljs-title,
	.hljs-prompt, {
	  font-weight: bold;
	}

	.hljs-change,
	.hljs-code {
	  font-style: italic;
	}

	.hljs-tag,
	.ini .hljs-title {
	  color: #62c8f3;
	}

	.hljs-id,
	.hljs-cbracket,
	.hljs-tag .hljs-value {
	  color: #ade5fc;
	}

	.hljs-string,
	.hljs-bullet {
	  color: #a2fca2;
	}

	.hljs-type,
	.hljs-variable,
	.hljs-name,
	.actionscript .hljs-title,
	.aspectj .hljs-annotation,
	.aspectj .hljs-title,
	.hljs-attribute,
	.hljs-change,
	.hljs-blockquote,
	.hljs-built_in {
	  color: #ffa;
	}

	.hljs-number,
	.hljs-hexcolor,
	.hljs-link_label,
	.hljs-link_reference {
	  color: #d36363;
	}

	.hljs-keyword,
	.hljs-literal,
	.hljs-constant,
	.css .hljs-tag,
	.hljs-typename,
	.hljs-winutils {
	  color: #fcc28c;
	}

	.hljs-comment,
	.hljs-cdata,
	.hljs-preprocessor,
	.hljs-annotation,
	.hljs-decorator,
	.hljs-doctype,
	.hljs-deletion,
	.hljs-shebang,
	.apache .hljs-sqbracket,
	.tex .hljs-formula,
	.hljs-header,
	.hljs-horizontal_rule,
	.hljs-code {
	  color: #888;
	}

	.hljs-regexp,
	.hljs-attr_selector {
	  color: #c6b4f0;
	}

	.hljs-important,
	.hljs-doctype,
	.hljs-pi,
	.hljs-chunk,
	.actionscript .hljs-type,
	.hljs-shebang,
	.hljs-pragma,
	.http .hljs-attribute {
	  color: #fc9b9b;
	}

	.hljs-deletion {
	  background-color: #fc9b9b;
	  color: #333;
	}

	.hljs-addition {
	  background-color: #a2fca2;
	  color: #333;
	}

	.hljs a,
	.hljs-tag .hljs-attribute {
	  color: inherit;
	}

	.hljs a:focus,
	.hljs a:hover {
	  color: inherit;
	  text-decoration: underline;
	}
